.iconic-button {
  padding-bottom: 20px;
  background-color: #202940;
  color: white;
  width: 100%;
}

.iconic-button:hover {
  color: #ffc800;
}

.iconic-button .Icon {
  font-size: 60px;
}

.iconic-button .Text {
  font-size: 24px;
  line-height: 26px;
}
