.Block.CharacterSelection
{
  box-shadow: 20px 3px 33px 2px rgba(0, 0, 0, 0.5);
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

#CharacterListWrapper
{
  min-height: 300px;
}

.Block.CharacterSelection .Title
{
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.Block.CharacterSelection .Content
{
  height: 590px;
  background-color: white;
  padding: 35px;
}

.Block.CharacterSelection .Content .SubTitle
{
  color: black;
  text-align: center;
  margin-bottom: 35px;
}

.Block.CharacterSelection .Content .description
{
  font-size: 18px;
}

.Block.CharacterSelection .Content.UserInfo
{
  text-align: center;
  background-color: #111b33;
  color: white;
  font-size: 30px;
  padding: 22px;
  height: auto;
}

.Block.CharacterSelection .Content.UserInfo .DonationPoints
{
  color: #fbc531;
  font-size: 22px;
}

.RegisterField {
  background: #4c596a;
  border: none;
  color: #0984e3;
  margin-top: 15px;
  width: 100%;
}

ul.SquareList
{
  list-style-type: square;
  padding-left: 25px;
}


.RegisterField::placeholder {
  color: #0984e3;
}

ul {
  padding: 0px;
  list-style-type: none;
}

ul li {
  color: white;
  padding-top: 15px;
}

.input__label {
  color: white;
}

.Params {
  margin-bottom: 15px;
}

.Params .Key {
  float: left;
  width: 250px;
  font-size: 18px;
}

.Params .Value {
  float: left;
  width: 250px;
}


.Param {
  background-color: #fbc531;
  height: 50px;
  line-height: 40px;
  font-size: 17px;
  padding: 5px 15px;
  min-width: 210px;
  margin-top: 10px;
}

.Param .Key {
  color: #000000;
  width: 200px;
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
}

.Param .Value {
  color: #4050af;
  padding-left: 15px
}

.Param .Sym {
  padding: 0 5px;
  display: inline-block;
  background-color: #4050af;
  color: white;
  display: flex;
  height: 50px;
  margin-top: -5px;
  padding-top: 5px;

  width: 25px;
  padding-left: 8px;

}



.submit {
  margin: 2.3em auto 0;
  background: #4c596a;
  border: none;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  display: block;
  color: #fff;
  padding: 14px 30px;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;

  width: 40%;
  float: left;
  margin-left: 30px;
}
