<div>
  <div class = "row">
    <div class = "col-xl-50 col-lg-50 col-md-70 col-sm-70 offset-xl-25 offset-lg-25 offset-md-15 offset-sm-15">
      <app-loading-screen *ngIf = "!model" class = "Operation"></app-loading-screen>
      <div class = "Block CharacterSelection">
        <div class = "row">
          <div class = "col-30 offset-30">
            <h1 class = "Title">
              Выбор персонажа
            </h1>
          </div>

          <div class = "col-20 offset-20">
            <div class = "Content UserInfo" *ngIf = "model">
              <span> {{model.Login}} </span>
              |
              <span class = "DonationPoints"> {{model.Balance}} DP </span>
            </div>
          </div>
        </div>

        <div class = "clearfix"></div>
        <div class = "row" *ngIf = "!model">
          <app-character-selection-create-first class = "col-30 offset-3"></app-character-selection-create-first>
          <app-character-selection-create-free class = "col-30 offset-3"></app-character-selection-create-free>
          <app-character-selection-create-payment class = "col-30 offset-3"></app-character-selection-create-payment>
        </div>

        <div class = "row" *ngIf = "model">
          <app-character-selection-item class = "col-30 offset-3" *ngFor = "let character of model.Characters" [model] = "character" (clicked) = "onSelectCharacterClicked($event)"></app-character-selection-item>
          <app-character-selection-create-first class = "col-30 offset-3" (clicked) = "onCreateCharacterClicked()" *ngIf = "model.Characters.length === 0"></app-character-selection-create-first>
          <app-character-selection-create-free class = "col-30 offset-3" (clicked) = "onCreateCharacterClicked()" *ngIf = "model.Characters.length <= 1" [status]="model.UseFreeCharacterStatus"></app-character-selection-create-free>
          <app-character-selection-create-payment class = "col-30 offset-3" (clicked) = "onBuyCharacterClicked($event)" *ngIf = "model.Characters.length <= 2" [status]="model.UsePaymentCharacterStatus"></app-character-selection-create-payment>
        </div>

      </div>
    </div>
  </div>
</div>
