<div class="form-group form-group-last" *ngIf="operationError">
  <div class="alert alert-secondary" role="alert">
    <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
    <div class="alert-text">
      {{operationError.Message}}
    </div>
  </div>
</div>
