
<div class="kt-portlet kt-portlet--height-fluid">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{title}}
      </h3>
    </div>

  </div>
  <div class="kt-portlet__body">
    <div class="tab-content">
      <div class="tab-pane active" id="kt_widget31_tab1_content">
        <color-circle width="" (onChange)="onChangeComplete($event)"></color-circle>
      </div>

    </div>
  </div>
</div>
