::ng-deep .progress {
  border-radius: unset;
}

::ng-deep .progress-bar.bg-health {
  background-color: #08e794;
}

::ng-deep .progress-bar.bg-armour {
  background-color: #87e751;
}

::ng-deep .progress-bar.bg-satiety {
  background-color: #e77227;
}

::ng-deep .progress-bar.bg-thirst {
  background-color: #1844e7;
}
