<div class = "Card" (click) = "onClicked()">
  <h2 class = "Number">
    {{model.Number | bankCardNumber}}
  </h2>
  <h3 class = "Validity">
    VALID THRU
    <b>
      {{model.Validity | date:'MM/yy'}}
    </b>
  </h3>
  <h3 class = "Holder">
    Dmitry Donskoy
  </h3>
</div>
