.Card {
  text-align: center;
  word-wrap: break-word;
  background-clip: border-box;
  background-image: url('/assets/images/blue-yellow-abstract-background.jpg');
  background-size: cover;
  border: 1px solid #f3f3f3;
  border-radius: 0.625rem;
  height: 160px;
  padding: 30px;
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 6px 5px 13px 0px rgba(82, 63, 105, 0.17);
}

.Card:hover {
  background-color: #fff7b2;
}

.Card .Select {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.Card:hover .Select {
  color: black;
  text-shadow: #221616 1px 1px 2px;
}


.Card .Number {
  font-size: 18px;
  font-weight: 400;
  text-shadow: #221616 1px 1px 2px;
  position: absolute;
  bottom: 50px;
  left: 10px;
  color: white;
  letter-spacing: 1px;
}

.Card .Validity {
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  bottom: 30px;
  left: 15px;
  color: grey;
  text-align: left;
}

.Card .Holder {
  font-size: 20px;
  font-weight: 400;
  text-shadow: #221616 2px 2px 3px;
  position: absolute;
  bottom: 2px;
  left: 15px;
  color: white;
  letter-spacing: 2px;
}
