<div>
  <div class="row">
    <div class="col-md-50 label">{{label}}</div>
    <div class="col-md-25 offset-25 value">{{current}} {{unit}}</div>
  </div>

  <div class = "progress progress-sm">
    <div
      class = "progress-bar {{color}}"
      role = "progressbar"
      [style.width]="percent + '%'"
    ></div>
  </div>
</div>
