<div class = "Grid" [class.AllowScroll] = "allowScroll">
  <h2 class = "Header">
      <span *ngIf = "itemModel">
        {{itemmodel.name}}
      </span>

    <span *ngIf = "!itemModel">
        {{slotName}}
      </span>
  </h2>
  <div class = "row">
    <app-inventory-item *ngFor = "let slot of slots" class = "{{configuration.bagSingle}}" [disabled] = "slot.disabled" [item] = "slot.item"
                        droppable (onDrop) = "onItemDrop($event)"
                        draggable [dragData] = "itemDragData(slot.item)"
                        [dragScope]="getItemModel(slot?.item?.ModelId)?.Slot?.toString()"
    ></app-inventory-item>
  </div>
  <div class = "clearfix"></div>
</div>
