<form>
  <h2 class="kt-font-info" style="text-align: center; margin-bottom: 25px;">
    Форма авторизации
  </h2>

  <div class = "col-100 form-group">
    <label for = "input.Login">Логин или Email</label>
    <input id = "input.Login" [formControl] = "form.Login"  placeholder = "Ваш логин или адрес электронной почты" class="form-control">
  </div>

  <div class = "col-100 form-group">
    <label for = "input.Password">Пароль</label>
    <input id = "input.Password" [formControl] = "form.Password"  placeholder = "Ваш пароль" class="form-control">
  </div>

  <button id = "loginBtn" type = "button" class = "btn submit" (click) = "onSubmitForm()">Войти в игру</button>
</form>
