.Indicators {
  font-size: 35px;
  text-align: center;
}

.Indicators span {
  padding: 7px;
}

.Speedometer {
  background-color: #1e1e2d;
  border: 2px solid #1a1a27;
  padding: 0 0 10px;
}

.Speedometer .Speed {
  text-align: center;
  font-size: 1.1vw;
  color: #ffb822;
}

.Speedometer .Mileage {
  margin: auto;
  background-color: #1a1a27;
  border: 2px solid #354344;
  text-align: center;
  margin-top: 5px;
}
