<div class = "Indicators col-92" style = "margin-top: 300px;">
  <span class = "mdi mdi-arrow-left"></span>
  <app-stateless-iconic [icons] = "iconLights" [state] = "lightsEnabled"></app-stateless-iconic>
  <span class = "mdi mdi-arrow-right"></span>
  <app-stateless-iconic [icons] = "iconEngine" [state] = "engineEnabled"></app-stateless-iconic>
  <app-stateless-iconic [icons] = "iconDoors" [state] = "doorsLocked"></app-stateless-iconic>
</div>
<div class = "col-96">
  <div class = "Speedometer">
    <div class = "Speed col-100">
      {{speed | number:'1.0-0'}} Km/h
    </div>

    <div class = "Mileage col-40">
      {{fuel | number:'1.0-0'}}L
    </div>
  </div>
</div>
<app-left-iconic-progress-bar icon = "mdi mdi-gas-station" class = "row" [value]="fuel"></app-left-iconic-progress-bar>
