.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .nav.nav-tabs {
  display: none;;
}

::ng-deep .ParamsTab {
  height: 600px;
  overflow: auto;
  margin-top: 20px;
  width: 100%;
  padding-right: 20px;
}
