<div class = "row" style = "margin-top: 200px;">

  <div class = "col-xl-10 col-lg-10 col-md-15 Block">
    <h1 style = "color: white; font-size: 2.0rem;">
      Создание персонажа
    </h1>

    <form>
      <div class = "col-md-80 form-group text-warning">
        <label for = "input.firstName">Имя</label>
        <input id = "input.firstName" [formControl] = "Name.firstName">
      </div>

      <div class = "col-md-80 form-group text-warning">
        <label for = "input.lastName">Фамилия</label>
        <input id = "input.lastName" [formControl] = "Name.lastName">
      </div>

    </form>

    <ul class = "nav nav-tabs nav-fill" id = "nav-tab" role = "tablist" style = "margin-top: 30px; margin-bottom: 30px; display: block; border: none;">
      <li>
        <button class = "btn btn-outline-primary example-full-width" (click) = "t.select('tab-character-creation-general')">
          Персонаж
        </button>
      </li>
      <li>
        <button class = "btn btn-outline-primary example-full-width" (click) = "t.select('tab-character-creation-facial-features')">
          Черты лица
        </button>
      </li>
      <li>
        <button class = "btn btn-outline-primary example-full-width" (click) = "t.select('tab-character-creation-hair-and-color')">
          Волосы и цвет
        </button>
      </li>
      <li>
        <button class = "btn btn-outline-primary example-full-width" (click) = "t.select('tab-character-creation-clothes')">
          Одежда
        </button>
      </li>
      <li>
        <button class = "btn btn-outline-primary example-full-width" (click) = "onSubmitForm()">
          Создать персонажа
        </button>
      </li>
      <li>
        <button class = "btn btn-warning example-full-width" (click) = "onReturnToCharacterSelection()">
          Список персонажей
        </button>
      </li>
    </ul>
  </div>
  <div class = "col-xl-20 col-lg-20 col-md-28 Block"
       style = "background-color: white; padding-top: 30px; padding-left: 50px; border: 1px solid white; border-radius: 0px 15px 15px 0px; box-shadow: 20px 3px 33px 2px rgba(0, 0, 0, 0.5); padding-bottom: 30px;">

    <ngb-tabset [destroyOnHide] = "false" #t = "ngbTabset" (tabChange) = "onTabChange($event)">
      <ngb-tab id = "tab-character-creation-general">
        <ng-template ngbTabContent>
          <app-character-creation-general [FormGroup] = "General"></app-character-creation-general>
        </ng-template>
      </ngb-tab>
      <ngb-tab id = "tab-character-creation-hair-and-color">
        <ng-template ngbTabContent>
          <app-character-creation-hair-and-color [FormGroup] = "HairAndColor"></app-character-creation-hair-and-color>
        </ng-template>
      </ngb-tab>
      <ngb-tab id = "tab-character-creation-facial-features">
        <ng-template ngbTabContent>
          <app-character-creation-facial-features [FormGroup] = "Facial"></app-character-creation-facial-features>
        </ng-template>
      </ngb-tab>
      <ngb-tab id = "tab-character-creation-clothes">
        <ng-template ngbTabContent>
          <app-character-creation-clothes></app-character-creation-clothes>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>


  </div>


</div>
