<div class = "kt-portlet" *ngIf = "model">
  <div class = "kt-portlet__head">
    <div class = "kt-portlet__head-label">
      <h3 class = "kt-portlet__head-title">
        Необходимые документы
      </h3>
    </div>
  </div>

  <div class = "kt-portlet__body">
    <div class = "kt-widget4">

      <div class = "kt-widget4__item">
        <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
          Паспорт
        </a>
        <span class = "kt-widget4__number">Да</span>
      </div>

    </div>
  </div>
</div>
