.Card {
  text-align: center;
  word-wrap: break-word;
  background-clip: border-box;
  background-size: cover;
  border: 1px solid #f3f3f3;
  border-radius: 0.625rem;
  height: 160px;
  padding: 30px;
  cursor: pointer;
  position: relative;
  background-color: white;
  box-shadow: 6px 5px 13px 0px rgba(82, 63, 105, 0.17);
}

.Card .Select {
  color: black;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
}
