<div class = "row" style = "margin-top: 10em;">
  <div class = "col-15 col-sm-20 offset-25 offset-sm-20">
    <app-authorization-latest-news></app-authorization-latest-news>
    <app-authorization-statistics></app-authorization-statistics>
  </div>
  <div class = "col-25 col-sm-40 offset-2">
    <app-authorization-window></app-authorization-window>
  </div>
</div>
