
::ng-deep .vertical-tab .section-w3ls label {
  padding: unset !important;
  text-align: left !important;
  border: unset !important;
}

.txt-rt {
  text-align: right;
}

/* text align right */
.txt-lt {
  text-align: left;
}


/* text align left */
.txt-center {
  text-align: center;
}

/* text align center */
.float-rt {
  float: right;
}

/* float right */
.float-lt {
  float: left;
}

/* float left */
.clear {
  clear: both;
}

/* clear float */
.pos-relative {
  position: relative;
}

/* Position Relative */
.pos-absolute {
  position: absolute;
}

/* Position Absolute */
.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
  vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
  display: block;
}

/* vertical menu */
nav.horizontal ul li {
  display: inline-block;
}

/* horizontal menu */
img {
  max-width: 100%;
}

/* //end reset */

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

::ng-deep .main-bg {
  /*background: url(../images/bg.jpg) no-repeat center;*/
  background-size: cover;
  min-height: 100vh;
}

/* title */
::ng-deep h1 {
  font-size: 3vw;
  color: #fff49b;
  text-shadow: 7px 2px 2px #4c596a;
  text-align: center;
  padding: 2.5vw 1vw 1vw;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

/* //title */

::ng-deep .sub-main-w3 {
  box-shadow: 20px 3px 33px 2px rgba(0, 0, 0, 0.5);
  margin: 1.5vw 16vw;
  margin: 1vw auto;
  max-width: 1067px;
}

::ng-deep .image-style {
  background: url(../../../../../../assets/images/Authorization/Poster.jpg) no-repeat center;
  background-size: cover;
  min-height: 470px;
}

/* vertical tabs */
::ng-deep .vertical-tab {
  color: #333;
  display: block;
  margin: auto;
  position: relative;
  float: left;
  /* width: 70%; */

  min-height: 475px;
}

::ng-deep .image-style {
  float: left;
  width: 25%;
}

::ng-deep .vertical-tab input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

::ng-deep .vertical-tab .section-w3ls {
  display: block;

}

::ng-deep .vertical-tab .section-w3ls label {
  background: #fff;

  border-right: 1px solid #dcdcdc;
  cursor: pointer;
  display: block;
  font-size: 17px;
  padding: 33px 20px;
  position: relative;
  width: 189px;
  z-index: 100;
  color: #111;
  text-align: center;
}

::ng-deep .vertical-tab .section-w3ls article {
  display: none;
  left: 230px;
  min-width: 570px;
  position: absolute;
  top: 0;
}

/* .vertical-tab .section-w3ls article:after {
    background-color: #fff;
    bottom: 0;
    content: "";
    display: block;
    left: -229px;
    position: absolute;
    top: 0;
    width: 220px;
    z-index: 1;
} */

::ng-deep .vertical-tab input[name="sections"]:checked + label {
  background: #4c596a;
  border-right: 1px solid #000;
  color: #fff;
}

::ng-deep .vertical-tab input[name="sections"]:checked + label img {
  filter: invert(0%);
}

::ng-deep .vertical-tab input[name="sections"] + label img {
  filter: invert(100%);
}


::ng-deep .vertical-tab input[name="sections"]:checked ~ article {
  display: block;
}

::ng-deep label.icon-left-w3pvt span {
  display: block;
  font-size: 30px;
  margin-bottom: 7.8px;
}


/* //vertical tabs */

/* form style */
::ng-deep .sub-main-w3 form {
  height: 406px;
  background-color: #ffff;
  padding: 2em;
}

::ng-deep .legend {
  text-shadow: 3px 5px 13px #4c596a;
  color: #000;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1.2em;
  font-weight: 400;
}

::ng-deep p.para-style {
  margin-bottom: .8em;
  font-size: 15px;
  letter-spacing: .5px;
  line-height: 1.8;
}

::ng-deep p.para-style-2 {
  font-size: 15px;
  letter-spacing: .5px;
  line-height: 1.8;
  margin-bottom: 2em;
}

::ng-deep p.para-style-2 a {
  color: blue;
}

::ng-deep .input {
  margin-bottom: 1em;
  padding: 13px 15px;
  border: 1px solid #eee;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

::ng-deep .input span {
  font-size: 15px;
  color: #464646;
  margin-right: 10px;
}

::ng-deep .input input {
  color: #000;
  font-size: 14px;
  letter-spacing: 1px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

::ng-deep .submit {
  margin: 2.3em auto 0;
  background: #4c596a;
  border: none;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  display: block;
  color: #fff;
  padding: 14px 30px;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;
}

::ng-deep .submit:hover {
  opacity: .8;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

::ng-deep a.bottom-text-w3ls {
  color: #757474;
  font-size: 14px;
  display: inherit;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 3.2em;
}

/* responsive */
@media (max-width: 1080px) {
  h1 {
    font-size: 4vw;
  }
}

@media (max-width: 1050px) {
  ::ng-deep .sub-main-w3 {
    max-width: 900px;
  }

  ::ng-deep .vertical-tab .section-w3ls article {
    min-width: 445px;
  }

  ::ng-deep p.para-style-2 {
    font-size: 14px;
    margin-bottom: 1em;
  }

  ::ng-deep p.para-style {
    margin-bottom: .7em;
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  ::ng-deep .sub-main-w3 {
    max-width: 768px;
  }

  ::ng-deep .vertical-tab .section-w3ls article {
    min-width: 400px;
    left: 175px;
  }

  ::ng-deep .vertical-tab .section-w3ls label {
    width: 134px;
    font-size: 15px;
    padding: 34px 20px;
  }

  h1 {
    font-size: 5vw;
    padding: 4.5vw 1vw 1vw;
  }
}

@media (max-width: 768px) {
  .sub-main-w3 {
    max-width: 575px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .image-style {
    float: none;
    width: 100%;
    min-height: 300px;
    order: 2;
  }

  .vertical-tab {
    float: none;
    width: 100%;
  }
}

@media (max-width: 667px) {
  h1 {
    font-size: 6vw;
  }
}


@media (max-width: 600px) {
  .sub-main-w3 {
    max-width: 500px;
  }

  .vertical-tab .section-w3ls article {
    min-width: 365px;
    left: 135px;
  }

  .vertical-tab .section-w3ls label {
    width: 114px;
    font-size: 15px;
    padding: 31px 10px;
  }

  h1 {
    font-size: 7vw;
  }
}

@media (max-width: 480px) {
  ::ng-deep .vertical-tab .section-w3ls article {
    min-width: 291px;
    left: 109px;
  }

  ::ng-deep .vertical-tab .section-w3ls label {
    width: 89px;
    font-size: 14px;
    padding: 26.8px 10px;
  }

  ::ng-deep .sub-main-w3 {
    max-width: 400px;
  }

  ::ng-deep .image-style {
    min-height: 220px;
  }

  ::ng-deep .sub-main-w3 form {
    padding: 1.5em;
  }

  ::ng-deep .submit {
    font-size: 14px;
  }

  ::ng-deep .input input {
    font-size: 13px;
  }

  ::ng-deep p.para-style {
    margin-bottom: .4em;
    font-size: 13px;
  }

  ::ng-deep p.para-style-2 {
    font-size: 13px;
  }

  ::ng-deep .input {
    padding: 12px 12px;
  }

  ::ng-deep a.bottom-text-w3ls {
    margin-top: 3em;
  }

  ::ng-deep .last-btn {
    margin: 1em auto 0;
  }
}

@media (max-width: 414px) {
  .sub-main-w3 {
    max-width: 320px;
  }

  ::ng-deep .vertical-tab .section-w3ls article {
    position: static;
  }

  ::ng-deep .vertical-tab .section-w3ls label {
    width: 100%;
    font-size: 14px;
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
  }

  ::ng-deep .vertical-tab input[name="sections"]:checked + label {
    border-right: none;
    border-bottom: 1px solid #000;
    border-top: none;
  }

  ::ng-deep .image-style {
    min-height: 190px;
  }

  ::ng-deep h1 {
    font-size: 1.8em;
    padding: 6.5vw 1vw 3vw;
  }

  ::ng-deep .last-btn {
    margin: 1.5em auto 0;
  }

  ::ng-deep p.para-style {
    margin-bottom: 1em;
  }

  ::ng-deep p.para-style-2 {
    margin-bottom: 2em;
  }

}

@media (max-width: 320px) {
  ::ng-deep .sub-main-w3 {
    max-width: 270px;
  }

  ::ng-deep .vertical-tab .section-w3ls article {
    min-width: 270px;
  }
}

/* //responsive */

::ng-deep .full-width {
  width: 100%;
}
