<div>
  <div class = "dropdown dropdown-inline">
    <button type = "button" class = "btn btn-clean btn-sm btn-icon btn-icon-md" (click)="onClickedCloseWindow()">
      <i class = "flaticon2-cross"></i>
    </button>
  </div>
</div>
