.catalog {
  padding: 0;
}

.kt-widget4__title {
  font-weight: 600 !important;
}


.kt-widget4__item.active, .kt-widget4__item:hover {
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  text-decoration: none;
  background-color: #f7f8fa;
}

.kt-widget4__item {
  cursor: pointer;
  padding: 25px !important;
}

