<div class = "kt-portlet">
  <div class = "kt-portlet__body" style = "padding: 0;">
    <app-vehicle-showroom-order></app-vehicle-showroom-order>
  </div>
</div>

<div class = "kt-portlet kt-portlet--height-fluid">
  <div class = "kt-portlet__body catalog">

    <div class = "kt-widget4">

      <div class = "kt-widget4__item" *ngFor = "let item of vehicles$ | async" (click) = "onVehicleSelected(item)" [class.active]="isSelected(item)">
        <div class = "kt-widget4__info">
          <span href class = "kt-widget4__title">
            {{item.information.model.description}}
          </span>
          <p class = "kt-widget4__text">
            Топливо: {{item.information.fuelType.description}}, {{item.information.fuelTankSize}} л |
            Макс. скорость: {{item.information.maxSpeed}} км/ч

          </p>
        </div>
        <span class = "kt-widget4__number kt-font-brand kt-font-bold">{{item.cost | gameCost}}</span>
      </div>

    </div>
  </div>
</div>
