<div class = "kt-portlet kt-portlet--height-fluid">
  <div class = "kt-portlet__head">
    <div class = "kt-portlet__head-label">
      <h3 class = "kt-portlet__head-title">
        <i class="fa fa-history"></i>
        Последние операции
      </h3>
    </div>
  </div>

  <div class = "kt-portlet__body transactions">
    <!--begin::widget 12-->
    <div class = "kt-notification">
      <app-bank-card-transaction *ngFor="let transaction of model" [model]="transaction"></app-bank-card-transaction>

    </div>
    <!--end::Widget 12-->
  </div>
</div>
