<div class = "row">
  <div class = "col-20 col-sm-20 col-md-25">
    <div class = "kt-portlet" style="height: 900px; background-color: #f2f3f8; max-height: 900px; overflow: auto;">
      <app-window-header icon="la la-bank" header="Покупка недвижимости"></app-window-header>

      <div class = "kt-portlet__body" style = "background-color: #f2f3f8;">
        <div class = "kt-section__body">
          <div class = "row">
            <div class = "col-100">
              <app-property-buying-information [model]="model"></app-property-buying-information>
              <app-property-buying-required-licenses [model]="model"></app-property-buying-required-licenses>
              <app-purchase-dropdown-button [allowCashPay]="false" [allowBankCardPay]="true" (purchaseMethodSelected)="onPurchaseMethodSelected($event)" *ngIf="model"></app-purchase-dropdown-button>
              <app-operation-error [operationError]="operationError"></app-operation-error>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</div>

