body {
  background-color: transparent;
}

.Block.PropertyBuy {
  padding: 0;
}

.Block.PropertyBuy h2.Header {
  color: white;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Block.PropertyBuy .Content {
  padding: 30px 0px;
  background-color: lightgrey;
  height: auto;
}


.Block.PropertyBuy .Content .Params .Value {
  color: black;
  font-weight: 600;
  background-color: white;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 18px;
  width: 200px;
}
