<div *ngIf="item">
  <div class = "Item" [class.Disabled]="disabled" [ngbPopover]="popContent" [popoverTitle]="popTitle" triggers="mouseenter:mouseleave" placement="right">
    <span class = "NumKey" *ngIf="num">{{num}}</span>
    <div class = "{{imageClass}}"></div>
  </div>
</div>

<div *ngIf="!item">
  <div class = "Item" [class.Disabled]="disabled">
    <span class = "NumKey" *ngIf="num">{{num}}</span>
    <div class = "{{imageClass}}"></div>
  </div>
</div>

<ng-template #popContent>
  {{itemModel?.description}}
</ng-template>
<ng-template #popTitle>
  {{itemModel?.Name}}
</ng-template>
