<div class = "row">
  <div class = "col-xl-20 col-md-25 col-sm-30 offset-2">
    <div class = "Block BankMenu">
      <h2 class = "Header">
        Добро пожаловать в банк
        <i class = "mdi mdi-close-circle-outline Close" (click) = "onClickedClose()"></i>
      </h2>
      <div class = "Content" style = "background-color: lightgrey; padding: 35px;">
        <div class="row">
          <app-bank-card-tariff class="col-45 offset-5" *ngFor="let tariff of tariffList" [model]="tariff" ></app-bank-card-tariff>
        </div>
      </div>

    </div>
  </div>
</div>

