<div class = "col-20 no-right-padding">
  <div class = "Element">
    <i class = "{{icon}}" style="font-size: 25px"></i>
  </div>
</div>

<div class = "col-76 no-left-padding">
  <div class = "Element">
    <ngb-progressbar type = "{{styleName}}" [value] = "value" class="full-height" ></ngb-progressbar>
  </div>
</div>

