<div class = "Content">
  <h3 class = "SubTitle">
    Создать персонажа
  </h3>
  <div class = "Description">
    <p>
      Вы можете бесплатно создать вашего персонажа
    </p>
    <b>
      Новый персонаж получит такие бонусы как:
    </b>
    <ul class = "SquareList">
      <li style = "color: black">
        Уровень персонажа будет на один уровень меньше от текущего, но не больше 10 уровня
      </li>
      <li style = "color: black">
        Премиум аккаунт на 3 дня
      </li>
      <li style = "color: black">
        5000$ для старта игры
      </li>
      <li style = "color: black">
        100 Donation Points
      </li>
    </ul>

    <button type = "button" class = "btn submit" style = "width: 85%; background-color: #fbc531;" (click) = "onClicked()">Создать персонажа</button>
  </div>
</div>
