<div class = "kt-portlet__head">
  <div class = "kt-portlet__head-label">
    <h3 class = "kt-portlet__head-title">
      <i class = "{{icon}}" style = "font-size: 24px"></i>
      {{header}}
    </h3>
  </div>

  <app-window-close-button class = "kt-portlet__head-toolbar"></app-window-close-button>
</div>
