::ng-deep .Grid {
  background-color: #1b1e21;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 9px;
}

::ng-deep .Grid .Item {
  position: relative;
  border-style: solid;
  background-color: #1b1e21;
  height: 6.5vh;
  width: 100%;
  display: inline-block;
  padding: 5px;
}

::ng-deep .Grid .Item.Disabled {
  background: repeating-linear-gradient(
      -55deg,
      #222,
      #222 10px,
      #333 10px,
      #333 20px
  );
}

::ng-deep .Grid .Item *, .Grid .Item .ItemObject {
  background-size: cover;
  background-origin: content-box;
  filter: invert(40%);
  width: 100%;
  height: 100%;
}


::ng-deep .Grid.Inline {
  display: inline-block;
}

::ng-deep .Grid .Header {
  color: white;
  font-size: 16px;
  margin-left: 10px;
}

::ng-deep .AllowScroll {
  overflow-y: auto;
}

::ng-deep .AllowScroll::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

::ng-deep .AllowScroll::-webkit-scrollbar {
  width: 10px;
}

::ng-deep .AllowScroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #737272;
  border: 1px solid #000;
}

::ng-deep .Grid .Item .NumKey {
  font-size: 11px;
  bottom: 0;
  right: -5px;
  position: absolute;
  display: block;
}

.dropdown-menu {
  background-color: #363636;
  padding: 15px;
}

ul.dropdown-menu li {
  padding: 0px;
}

ul.dropdown-menu li a {
  color: #eaac00;
}

.Grid .Item.Long {
}

.Grid.TinyGrid {
  padding: 5px;
}

.Grid.TinyGrid .Item {
  width: 47px;
}


::ng-deep .Grid .Item.None {
  border: none;
}

/*Лицо*/
::ng-deep .Grid .Item .Glasses {
  background-image: url('../../../../../../assets/images/Items/Glasses/InventoryGlasses.png');
  background-position-x: -2px;
}

::ng-deep .Grid .Item .Hat {
  background-image: url('../../../../../../assets/images/Items/Hat/InventoryHat.png');
  background-position-x: -2px;
}

::ng-deep .Grid .Item .Earrings {
  background-image: url('../../../../../../assets/images/Items/Earrings/InventoryEarrings.png');
}

/*Тело*/


::ng-deep .Grid .Item .Beads {
  background-image: url('../../../../../../assets/images/Items/Beads/InventoryBeads.png');
}

::ng-deep .Grid .Item .Shirt {
  background-image: url('../../../../../../assets/images/Items/Shirt/InventoryShirt.png');
  background-position-y: -5px;
}

::ng-deep .Grid .Item .WristWatch {
  background-image: url('../../../../../../assets/images/Items/WristWatch/InventoryWristWatch.png');
}

::ng-deep .Grid .Item .Pants {
  background-image: url('../../../../../../assets/images/Items/Pants/InventoryPants.png');
}

::ng-deep .Grid .Item .Bag {
  background-image: url('../../../../../../assets/images/Items/Bag/InventoryBag.png');
}

::ng-deep .Grid .Item .BodyArmor {
  background-image: url('../../../../../../assets/images/Items/BodyArmor/InventoryBodyArmor.png');
}

::ng-deep .Grid .Item .Footwear {
  background-image: url('../../../../../../assets/images/Items/Footwear/InventoryFootwear.png');
}

::ng-deep .Grid .Item .Phone {
  background-image: url('../../../../../../assets/images/Items/Phone/InventoryPhone.png');
}

::ng-deep .Grid .Item .Passport {
  background-image: url('../../../../../../assets/images/Items/Phone/InventoryPassport.png');
}

::ng-deep .Grid .Item .DriveLicense {
  background-image: url('../../../../../../assets/images/Items/Phone/InventoryDrivelicense.png');
}

::ng-deep .Grid .Item .CreditCard {
  background-image: url('../../../../../../assets/images/Items/Phone/InventoryCreditCard.png');
}

::ng-deep .Grid .Item .Aid001 {
  filter: invert(0);
  bottom: 32px;
  position: relative;
  background-image: url('../../../../../../assets/images/Items/Aids/Adid_001.png');
}


::ng-deep .Grid .Item .Pump-Shotgun {
  filter: invert(0);
  background-position-y: -5px;
  background-position-x: -15px;
  background-image: url('../../../../../../assets/images/Items/Weapons/pump-shotgun.png');
}

//=================================================
//  Одежда

::ng-deep .Grid .Item .Jeans_001 {
  background-image: url('../../../../../../assets/images/Items/Pants/Jeans_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .TShirt_001 {
  background-image: url('../../../../../../assets/images/Items/Shirt/TShirt_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Jacket_001 {
  background-image: url('../../../../../../assets/images/Items/Shirt/Jacket_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Blazer_001 {
  background-image: url('../../../../../../assets/images/Items/Shirt/Blazer_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Cap_001 {
  background-image: url('../../../../../../assets/images/Items/Hat/Cap_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Backpack_001 {
  background-image: url('../../../../../../assets/images/Items/Bag/Backpack_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Backpack_002 {
  background-image: url('../../../../../../assets/images/Items/Bag/Backpack_002.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Bag_001 {
  background-image: url('../../../../../../assets/images/Items/Bag/Bag_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Bag_002 {
  background-image: url('../../../../../../assets/images/Items/Bag/Bag_002.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Bag_003 {
  background-image: url('../../../../../../assets/images/Items/Bag/Bag_003.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .TravelBag_001 {
  background-image: url('../../../../../../assets/images/Items/Bag/TravelBag_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .HotDog_001 {
  background-image: url('../../../../../../assets/images/Items/Foods/HotDog_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .HotDog_002 {
  background-image: url('../../../../../../assets/images/Items/Foods/HotDog_002.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Hamburger_001 {
  background-image: url('../../../../../../assets/images/Items/Foods/Hamburger_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Crisps_001 {
  background-image: url('../../../../../../assets/images/Items/Foods/Crisps_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Crisps_002 {
  background-image: url('../../../../../../assets/images/Items/Foods/Crisps_002.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .IceCream_001 {
  background-image: url('../../../../../../assets/images/Items/Foods/IceCream_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .IceCream_002 {
  background-image: url('../../../../../../assets/images/Items/Foods/IceCream_002.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Methamphetamine_001 {
  background-image: url('../../../../../../assets/images/Items/Drugs/Methamphetamine_001.svg');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Methamphetamine_002 {
  background-image: url('../../../../../../assets/images/Items/Drugs/Methamphetamine_002.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .Cannabis_001 {
  background-image: url('../../../../../../assets/images/Items/Drugs/Cannabis_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .BeerBottle_001 {
  background-image: url('../../../../../../assets/images/Items/Alcohol/BeerBottle_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Grid .Item .VodkaBottle_001 {
  background-image: url('../../../../../../assets/images/Items/Alcohol/VodkaBottle_001.png');
  background-position-x: -2px;
  filter: none;
}

::ng-deep .Block.Inventory .Content {
  padding-top: 0;
}

::ng-deep .popover {
  width: max-content;
}
.Information li {
  position: relative;
  text-shadow: -27px -3px 14px #00e0b2;
}

.Information li span.Health {
  display: inline-block;
  background-image: url(../../../../../../assets/images/Inventory/Health.png);
  width: 20px;
  height: 20px;
  background-size: cover;
  position: relative;
  bottom: -5px;
  /* background-origin: content-box; */
}

.Information li span.Thirst {
  display: inline-block;
  background-image: url(../../../../../../assets/images/Inventory/Thirst.png);
  width: 20px;
  height: 20px;
  background-size: cover;
  position: relative;
  bottom: -5px;
  /* background-origin: content-box; */
}

.Information li span.Hunger {
  display: inline-block;
  background-image: url(../../../../../../assets/images/Inventory/Hunger.png);
  width: 20px;
  height: 20px;
  background-size: cover;
  position: relative;
  bottom: -5px;
  /* background-origin: content-box; */
}

ul.Information li span.Cheerfulness {
  display: inline-block;
  background-image: url(../../../../../../assets/images/Inventory/Cheerfulness.png);
  width: 20px;
  height: 20px;
  background-size: cover;
  position: relative;
  bottom: -5px;
  /* background-origin: content-box; */
  filter: invert(40%);
}


.Information .Param {
  background-color: transparent;
  margin: 0;
  height: 30px;
}

.Information .Param .Key {
  width: 100px;
  display: inline-block;
  color: white;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}

.Information .Param .Value {
  width: 200px;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}






