<ul class = "InlineList Information" style = "text-align: center;">
  <li>
    <span class = "Health"></span>
    <span id = "HealthPercent">15%</span>
  </li>
  <li>
    <span class = "Hunger"></span>
    <span id = "HungerPercent">15%</span>
  </li>
  <li>
    <span class = "Thirst"></span>
    <span id = "ThirstPercent">15%</span>
  </li>
  <li>
    <span class = "Cheerfulness"></span>
    <span id = "CheerfulnessPercent">15%</span>
  </li>
</ul>


<div class = "row">
  <div class = "col-25">
    <div class = "Grid row" *ngIf="weapons">
      <h2 class = "Header col-100">
        Оружие
      </h2>

      <app-player-inventory-slot class = "{{configuration.weapons}}" defaultIcon = "Pump-Shotgun" [item] = "weapons.$primary"></app-player-inventory-slot>
      <app-player-inventory-slot class = "{{configuration.weapons}}" disabled="true" [item] = "weapons.$secondary"></app-player-inventory-slot>
      <app-player-inventory-slot class = "{{configuration.weapons}}" disabled="true"></app-player-inventory-slot>
      <app-player-inventory-slot class = "{{configuration.weapons}}" disabled="true"></app-player-inventory-slot>
    </div>
  </div>

  <div class = "col-25">
    <div class = "Grid row"  *ngIf="equipments">
      <h2 class = "Header col-100">
        Одежда
      </h2>

      <app-player-inventory-slot class = "{{configuration.equipmentsFirst}}" defaultIcon = "Glasses" [item] = "equipments.$glasses" (dragItem)="onEquipItem($event)"></app-player-inventory-slot>
      <app-player-inventory-slot class = "{{configuration.equipmentsNext}}" defaultIcon = "Hat" [item] = "equipments.$hat" (dragItem)="onEquipItem($event)"></app-player-inventory-slot>
      <app-player-inventory-slot class = "{{configuration.equipmentsNext}}" defaultIcon = "Earrings" [item] = "equipments.$earrings" (dragItem)="onEquipItem($event)"></app-player-inventory-slot>
      <div class = "clearfix"></div>

      <app-player-inventory-slot class = "{{configuration.equipmentsFirst}}" defaultIcon = "Beads" [item] = "equipments.$beads" (dragItem)="onEquipItem($event)"></app-player-inventory-slot>
      <app-player-inventory-slot class = "{{configuration.equipmentsNext}}" defaultIcon = "Shirt" [item] = "equipments.$shirt" (dragItem)="onEquipItem($event)" [dropScope]="PlayerInventorySlot.Outerwear"></app-player-inventory-slot>
      <app-player-inventory-slot class = "{{configuration.equipmentsNext}}" defaultIcon = "WristWatch" [item] = "equipments.$wristWatch" (dragItem)="onEquipItem($event)"></app-player-inventory-slot>
      <div class = "clearfix"></div>

      <app-player-inventory-slot class = "{{configuration.equipmentsFirst}}" defaultIcon = "BodyArmor" [item] = "equipments.$bodyArmor" (dragItem)="onEquipItem($event)"></app-player-inventory-slot>
      <app-player-inventory-slot class = "{{configuration.equipmentsNext}}" defaultIcon = "Pants" [item] = "equipments.$pants" (dragItem)="onEquipItem($event)" [dropScope]="PlayerInventorySlot.Pants"></app-player-inventory-slot>
      <app-player-inventory-slot class = "{{configuration.equipmentsNext}}" defaultIcon = "Bag" [item] = "equipments.$bag" (dragItem)="onEquipItem($event)" [dropScope]="PlayerInventorySlot.Bag"></app-player-inventory-slot>

      <div class = "clearfix"></div>

      <app-player-inventory-slot class = "{{configuration.equipmentsSingle}}" defaultIcon = "Footwear" [item] = "equipments.$footwear" (dragItem)="onEquipItem($event)"></app-player-inventory-slot>
    </div>
  </div>

  <app-player-inventory-bag [storage]="equipments.$bag" (dragItem)="onItemDragAndDrop($event)" slotName="Сумка" slotCapacity="24" allowScroll="true" class = "col-50"></app-player-inventory-bag>
</div>

<div class = "row">
  <app-player-inventory-bag [storage]="equipments.$shirt" (dragItem)="onItemDragAndDrop($event)" slotName="Верхняя одежда" slotCapacity="6" class = "col-50"></app-player-inventory-bag>
  <app-player-inventory-bag [storage]="equipments.$pants" (dragItem)="onItemDragAndDrop($event)" slotName="Нижняя одежда" slotCapacity="6" class = "col-50"></app-player-inventory-bag>

  <app-operation-error [operationError]="operationError" class="col-md-50 offset-25"></app-operation-error>
</div>

<div class = "row">
  <app-player-inventory-equipment class = "col-33"></app-player-inventory-equipment>
  <app-player-inventory-hot-keys class = "col-67"></app-player-inventory-hot-keys>
</div>

