<div class = "row">
  <div class = "col-60">
    <h2>
      <img src = "/assets/images/CharacterCreation/Character.png" style = "width: 32px; height: 32px;" />
      Волосы
    </h2>
    <span>Создайте уникального персонажа</span>
  </div>
  <button type = "button" class = "btn submit Randomize col-33" style = "margin-top: 0">Перемешать</button>

  <div class="ParamsTab">

    <div class="Params row" style="margin-top: 45px;">
      <div class="Key col-30">
        Волосы
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.hair" [min]="0" [max]="28" [step]="1"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 45px;">
      <div class="Key col-30">
        Цвет волос
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.hairColor" [min]="0" [max]="15" [step]="1"></app-single-range-slider>
      </div>
    </div>


    <div class="Params row" style="margin-top: 45px;">
      <div class="Key col-30">
        Брови
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.eyebrows" [min]="0" [max]="33" [step]="1"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 45px;">
      <div class="Key col-30">
        Цвет бровей
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.eyebrowsColor" [min]="0" [max]="15" [step]="1"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 45px;">
      <div class="Key col-30">
        Цвет глаз
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.eyeColor" [min]="0" [max]="15" [step]="1"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 45px;">
      <div class="Key col-30">
        Помада
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.lipstick" [min]="0" [max]="15" [step]="1"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 45px;">
      <div class="Key col-30">
        Цвет помады
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.lipstickColor" [min]="0" [max]="15" [step]="1"></app-single-range-slider>
      </div>
    </div>

  </div>

</div>

