<ul class = "kt-menu__nav ">
  <li class = "kt-menu__item  " *ngFor = "let category of categories$ | async">

    <a class = "kt-menu__link " [class.active] = "isActive(category)"
       (click) = "onCategorySelected(category)">
      <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i>

      {{category.description}}


    </a>


  </li>
</ul>

