<app-window-header icon="la la-bank" header="Информация о банковской карте"></app-window-header>

<div class = "kt-portlet__body" style = "background-color: #f2f3f8;">
  <div class = "kt-section__body">
    <div class = "row">
      <div class = "col-100">
        <app-bank-card-information [model] = "model"></app-bank-card-information>
      </div>

      <div class = "col-100" *ngIf="model">
        <app-bank-card-transactions [model]="model.Transactions"></app-bank-card-transactions>
      </div>

    </div>

  </div>

</div>

