<div class = "kt-portlet__head">
  <div class = "kt-portlet__head-label">
    <h3 class = "kt-portlet__head-title">
      <i class = "la la-bank" style = "font-size: 24px"></i>
      Банк > Управление счетами > Список банковских карт
    </h3>
  </div>

  <div class = "kt-portlet__head-toolbar">
    <div class = "dropdown dropdown-inline">
      <button type = "button" class = "btn btn-clean btn-sm btn-icon btn-icon-md">
        <i class = "flaticon2-cross"></i>
      </button>
    </div>
  </div>
</div>

<div class = "kt-portlet__body" style = "background-color: #f2f3f8;">
  <div class = "kt-section__body">
    <div class = "row">
      <app-bank-card-open class = "col-45 offset-5" (clicked)="onBankCardCreate()"></app-bank-card-open>
      <app-bank-card-preview class = "col-45 offset-5" *ngFor = "let bankCard of bankCards" [model] = "bankCard" (selected)="onBankCardSelected($event)"></app-bank-card-preview>

    </div>

  </div>

</div>
  
