<a class = "kt-notification__item">
				<span class = "kt-notification__item-icon">
          <i class = "flaticon2-arrow-up kt-font-info" *ngIf = "model.category === BankCardTransactionCategory.Deposit"></i>
          <i class = "flaticon2-arrow-down kt-font-info" *ngIf = "model.category === BankCardTransactionCategory.Withdraw"></i>

          <i class = "flaticon2-paper-plane kt-font-info" *ngIf = "model.category === BankCardTransactionCategory.TransferFrom"></i>
          <i class = "flaticon2-send-1 kt-font-info" *ngIf = "model.category === BankCardTransactionCategory.TransferFor"></i>

          <i class = "flaticon2-paper-plane kt-font-info" *ngIf = "model.category === BankCardTransactionCategory.PropertyPurchaseFrom"></i>
          <i class = "flaticon2-send-1 kt-font-info" *ngIf = "model.category === BankCardTransactionCategory.PropertyPurchaseFor"></i>

				</span>
  <div class = "kt-notification__item-details">
    <div class = "kt-notification__item-title">
      <span *ngIf = "model.category === BankCardTransactionCategory.Deposit">
        Пополнение счета
      </span>

      <span *ngIf = "model.category === BankCardTransactionCategory.Withdraw">
        Снятие наличных
      </span>

      <span *ngIf = "model.category === BankCardTransactionCategory.TransferFor">
        Банковский перевод на карту {{model.Member.BankCardNumber | bankCardNumber}}
      </span>

      <span *ngIf = "model.category === BankCardTransactionCategory.TransferFrom">
        Банковский перевод от {{model.Member.PlayerName}}
      </span>

      <span *ngIf = "model.category === BankCardTransactionCategory.PropertyPurchaseFor">
        Покупка недвижимости у {{model.Member.PlayerName}}
      </span>

      <span *ngIf = "model.category === BankCardTransactionCategory.PropertyPurchaseFrom">
        Продажа недвижимости для {{model.Member.PlayerName}}
      </span>
    </div>
    <div class = "kt-notification__item-time">
      {{model.CreatedAt | dateTimeFormat}}
    </div>
  </div>

  <div class = "kt-notification__number kt-font-danger" *ngIf = "model.category === BankCardTransactionCategory.PropertyPurchaseFor">- {{model.Amount}}$</div>
  <div class = "kt-notification__number kt-font-danger" *ngIf = "model.category === BankCardTransactionCategory.TransferFor">- {{model.Amount}}$</div>
  <div class = "kt-notification__number kt-font-danger" *ngIf = "model.category === BankCardTransactionCategory.Withdraw">- {{model.Amount}}$</div>

  <div class = "kt-notification__number kt-font-success" *ngIf = "model.category === BankCardTransactionCategory.PropertyPurchaseFrom">+ {{model.Amount}}$</div>
  <div class = "kt-notification__number kt-font-success" *ngIf = "model.category === BankCardTransactionCategory.TransferFrom">+ {{model.Amount}}$</div>
  <div class = "kt-notification__number kt-font-success" *ngIf = "model.category === BankCardTransactionCategory.Deposit">+ {{model.Amount}}$</div>

</a>
   
