<div>
  <i class = "left fas fa-angle-left col-1" (click) = "onClickedLeft()"></i>
  <span style = "min-width: 100px; display: inline-block; text-align: center;" *ngIf="items">{{displayValue}}</span>
  <i class = "left fas fa-angle-right col-1" (click) = "onClickedRight()"></i>
</div>
