<app-window-header icon="la la-bank" header="Открытие банковской карты"></app-window-header>


<div class = "kt-portlet__body container">
  <div class = "kt-section__body">

    <div class = "form-group row">
      <label for = "input.card.name" class = "col-30 col-form-label">Название карты</label>
      <div class = "col-70">

        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.name" [formControl] = "form.name" class = "form-control">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                      <span>
                        <i class = "flaticon-book"></i>
                      </span>
                </span>
        </div>

      </div>
    </div>

    <div class = "form-group row">
      <label for = "input.card.tariff" class = "col-30 col-form-label">Тариф</label>
      <div class = "col-70">
        <div class = "input-group">
          <div class = "input-group-prepend"><span class = "input-group-text" style = "background-color: white; border-right: none"><i class = "flaticon2-open-text-book"></i></span></div>
          <input type = "text" class = "form-control" readonly [formControl] = "form.tariffName">

          <div class = "input-group-prepend" ngbDropdown >
            <button type = "button" class = "btn btn-secondary dropdown-toggle" id = "input.card.tariff" ngbDropdownToggle>
            </button>
            <div class = "dropdown-menu" ngbDropdownMenu aria-labelledby = "input.card.tariff">
              <a class = "dropdown-item" ngbDropdownItem *ngFor = "let tariff of tariffList" (click)="onTariffSelected(tariff)">
                {{tariff.Name}}
              </a>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class = "form-group row">
      <label for = "input.card.pinCode" class = "col-30 col-form-label">Пин-код</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.pinCode" [formControl] = "form.pinCode" class = "form-control">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-lock"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>

    <div class = "form-group row">
      <label for = "input.card.secureWord" class = "col-30 col-form-label">Секретное слово</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.secureWord" [formControl] = "form.secureWord" class = "form-control">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                <span>
                  <i class = "flaticon2-shield"></i>
                </span>
              </span>
        </div>
      </div>
    </div>

    <app-operation-error [operationError]="operationError"></app-operation-error>

  </div>

</div>

<div class = "kt-portlet__foot">
  <div class = "kt-form__actions row">
    <button type = "reset" class = "btn btn-dark col-40 offset-5">Отмена</button>
    <button type = "reset" class = "btn btn-success col-40 offset-10" (click)="onClickedOpenBankCard()">Открыть счет</button>
  </div>
</div>
