.Params
{
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
  vertical-align: center;
}

.Params .Key
{
  background-color: #ffc800;
  padding-left: 20px;
  font-size: 18px;
}

.Params .Value {
  background-color: white;
  padding-left: 20px;
}
