<app-window-header icon="la la-bank" header="Банковский перевод"></app-window-header>


<div class = "kt-portlet__body" style = "background-color: #f2f3f8;">
  <div class = "kt-section__body">

    <div class = "form-group row">
      <label for = "input.card.Number" class = "col-30 col-form-label">Карта</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.Number" class = "form-control" [formControl]="FormGroup.bankCardNumber">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-lock"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>

    <div class = "form-group row">
      <label for = "input.card.Balance" class = "col-30 col-form-label">Баланс</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.Balance" class = "form-control" [formControl]="FormGroup.bankCardBalance">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-lock"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>


    <div class = "form-group row">
      <label for = "input.card.target.Number" class = "col-30 col-form-label">Карта получателя</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.target.Number" class = "form-control" [formControl]="FormGroup.targetBankCardNumber">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-lock"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>

    <div class = "form-group row">
      <label for = "input.card.target.Owner" class = "col-30 col-form-label">Имя получателя</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.target.Owner" class = "form-control" [formControl]="FormGroup.targetBankCardOwner">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-lock"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>

    <div class = "form-group row">
      <label for = "input.card.Amount" class = "col-30 col-form-label">Сумма перевода</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.Amount"  class = "form-control"  [formControl]="FormGroup.transferAmount">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-lock"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>

    <app-operation-error [operationError]="operationError"></app-operation-error>

  </div>

  <div class = "kt-portlet__foot">
    <div class = "kt-form__actions row">
      <button type = "reset" class = "btn btn-warning col-40 offset-40" (click)="onClickedTransfer()">Перевести</button>
    </div>
  </div>

</div>
