/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import '~@mdi/font/css/materialdesignicons.min.css';
@import '../../SuncityTheme2/dist/assets/css/style.bundle.css';
@import '../../SuncityTheme2/dist/assets/css/skins/aside/dark.css';
@import '../../SuncityTheme2/dist/assets/plugins/global/plugins.bundle.css';


*, *::before, *::after {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none !important;
  /* Non-prefixed version, currently
                                   supported by Chrome, Opera and Firefox */
}

.btn.dropdown-toggle:after {
  content: unset;
}
