<div ngbDropdown class = "d-inline-block purchase-dropdown">
  <button class = "purchase-dropdown-button" id = "dropdownBasic1" ngbDropdownToggle>
    Оплатить
  </button>

  <div ngbDropdownMenu aria-labelledby = "dropdownBasic1" class = "purchase-dropdown-menu">
    <button ngbDropdownItem (click) = "onPurchaseMethodSelected(purchaseMethods.BankCard)" *ngIf = "allowBankCardPay">
      Оплатить картой
    </button>

    <button ngbDropdownItem (click) = "onPurchaseMethodSelected(purchaseMethods.Cash)" *ngIf = "allowCashPay">
      Оплатить наличными
    </button>

    <button ngbDropdownItem (click) = "onPurchaseMethodSelected(purchaseMethods.Donate)" *ngIf = "allowDonatePay">
      Оплатить DP
    </button>
  </div>
</div>
