.purchase-dropdown, .purchase-dropdown *
{
  width: 100%;
}

.purchase-dropdown .purchase-dropdown-button {
  background: #202940;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s all;
  color: #fff;
  padding: 14px 30px;
  border-radius: 0;
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 20px;

}
.purchase-dropdown .purchase-dropdown-menu
{
  border-radius: unset;
  margin: 0;
}
