<div class = "Content">
  <h3 class = "SubTitle">
    Создать персонажа
  </h3>
  <div class = "Description">
    <p>
      Вы можете создать третьего персонажа после достижения 5-го уровня.
    </p>
    <b>
      Новый персонаж получит такие бонусы как:
    </b>
    <ul class = "SquareList">
      <li style = "color: black">
        Уровень персонажа будет на два уровня меньше от текущего, но не больше 15 уровня
      </li>
      <li style = "color: black">
        Премиум аккаунт на 5 дней
      </li>
      <li style = "color: black">
        20000$ для старта игры
      </li>
      <li style = "color: black">
        150 Donation Points
      </li>
    </ul>

    <button type = "button" class = "btn submit" style = "width: 85%; background-color: #fbc531;" *ngIf = "RequiredPayment" (click) = "onClicked()">Купить слот за 500DP</button>
    <button type = "button" class = "btn submit" style = "width: 85%; background-color: #fbc531;" *ngIf = "NotAllowed" (click) = "onClicked()">Не доступно</button>
    <button type = "button" class = "btn submit" style = "width: 85%; background-color: #fbc531;" *ngIf = "Allowed" (click) = "onClicked()">Создать персонажа</button>

  </div>
</div>
