::ng-deep .Element
{
  background-color: #1e1e2d;
  border: 2px solid #1a1a27;
  padding: 2px;
  line-height: 25px;
  height: 35px;
  color: white;
  vertical-align: middle;
  text-align: center;

  margin-top: 5px;
}

.Location
{
  color: gold;
  font-size: 0.65vw;
}

.Character
{
  color: #08e794;
  font-size: 0.65vw;
  text-align: right;
  padding-right: 10px;
  font-style: italic;
  font-weight: 600;
}


.Balance .Icon
{
  font-size: 25px;
}

.Balance .Amount
{
  font-size: 20px;
  text-align: left;
}
