<div *ngIf="model">
  <div class = "row">
    <div class = "col-30 Location">
      {{model.location}}
    </div>
    <div class = "col-70 Character">
    <span class = "Name">
      {{model.name}}
    </span>
      |
      <span class = "Fraction">
      {{model.fraction}}
    </span>
    </div>
  </div>

  <div class = "row">
    <app-right-iconic-progress-bar class = "col-md-58 col-xl-40 row" icon = "mdi mdi-cards-heart" styleName = "health" [value] = "model.health"></app-right-iconic-progress-bar>
    <app-left-iconic-progress-bar class = "col-md-40 col-xl-25 offset-2 row" icon = "mdi mdi-food" styleName = "satiety" [value] = "model.satiety"></app-left-iconic-progress-bar>
  </div>

  <div class = "row">
    <app-right-iconic-progress-bar class = "col-md-58 col-xl-40 row" icon = "mdi mdi-shield-half-full" styleName = "armour" [value] = "model.armour"></app-right-iconic-progress-bar>
    <app-left-iconic-progress-bar class = "col-md-40 col-xl-25 offset-2 row" icon = "mdi mdi-water" styleName = "thirst" [value] = "model.thirst"></app-left-iconic-progress-bar>
  </div>

  <div class = "row Balance">

  <app-player-balance-money class = "col-md-58 col-xl-40 row" [amount]="model.money"></app-player-balance-money>
  <app-player-balance-donate class = "col-md-40 col-xl-25 offset-2 row" [amount]="model.donate"></app-player-balance-donate>


  </div>
</div>
