<div class = "row">
  <div class = "col-9 col-md-12">
    <div class = "kkt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid">
      <div class = "kt-aside-menu kt-scroll ps ps--active-y" style = "height: 800px;">
        <h1 class = "header">
          Автосалон
        </h1>

        <h2 class = "header">
          {{propertyName$ | async}}
        </h2>

        <app-vehicle-showroom-categories></app-vehicle-showroom-categories>
      </div>
    </div>
  </div>

  <div class = "col-20 col-md-25">
    <div class = "kt-portlet kt-portlet--height-fluid" style = "height: 800px; background-color: #f2f3f8; max-height: 900px; overflow: auto;">
      <app-vehicle-showroom-header></app-vehicle-showroom-header>

      <div class = "kt-portlet__body" style = "">
        <div class = "kt-section__body">
          <div class = "row">
            <div class = "col-100">
              <app-vehicle-showroom-list></app-vehicle-showroom-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "col-20 offset-50 offset-md-42">
    <div class = "kt-portlet">
      <app-vehicle-showroom-information></app-vehicle-showroom-information>
    </div>
  </div>

</div>

