<div class = "Element col-97 row">
  <div class = "col-10">
    <i class = "mdi mdi-vuejs Icon"></i>
  </div>
  <div class = "col-60 offset-12 Amount">
    <span>{{amount}}</span>
    <span class = "offset-8" style = "color: gold;">DP</span>
  </div>
</div>
