<div class = "Content">
  <h3 class = "SubTitle">
    <span class = "name">{{model.name}}</span>
  </h3>

  <ul>
    <li class = "Param">
      <span class = "Key">Пол</span>
      <span class = "Value" *ngIf="!model.Sex">Мужской</span>
      <span class = "Value" *ngIf="model.Sex">Женский</span>
    </li>
    <li class = "Param">
      <span class = "Key">Уровень</span>
      <span class = "Value">{{model.Level}}</span>
    </li>
    <li class = "Param">
      <span class = "Key">Exp</span>
      <span class = "Value">{{model.Experience}} / <span style = "font-size: 11px;">{{model.NextLevelExperience}}</span></span>
    </li>
    <li class = "Param">
      <span class = "Key">Фракция</span>
      <span class = "Value">{{model.Fraction}}</span>
    </li>
    <li class = "Param">
      <span class = "Key">Денег на руках</span>
      <span class = "Value">{{model.Money}}</span>
    </li>
    <li class = "Param">
      <span class = "Key">Время в игре</span>
      <span class = "Value">{{model.PlayedHours}}</span>
    </li>
  </ul>

  <button type = "button" class = "btn submit" style = "width: 85%;" (click) = "onClicked()">Войти в игру</button>
</div>
