<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">
      Оплата банковской картой
    </h5>
    <button type="button" class="close" (click)="onClickedCancelPayment(true)">
    </button>
  </div>

  <div class="modal-body">

    <div class = "form-group row">
      <label for = "input.card.tariff" class = "col-30 col-form-label">Банковская карта</label>
      <div class = "col-70">
        <div class = "input-group">
          <div class = "input-group-prepend"><span class = "input-group-text" style = "background-color: white; border-right: none"><i class = "flaticon2-open-text-book"></i></span></div>
          <input type = "text" class = "form-control" readonly [formControl] = "form.bankCardName">

          <div class = "input-group-prepend" ngbDropdown>
            <button type = "button" class = "btn btn-secondary dropdown-toggle" id = "input.card.tariff" ngbDropdownToggle>
            </button>
            <div class = "dropdown-menu" ngbDropdownMenu aria-labelledby = "input.card.tariff">
              <a class = "dropdown-item" ngbDropdownItem *ngFor = "let bankCard of bankCards" (click) = "onBankCardSelected(bankCard)">
                {{bankCard.Number | bankCardNumber}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class = "form-group row">
      <label for = "input.card.pinCode" class = "col-30 col-form-label">Пин-код</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.pinCode" [formControl] = "form.pinCode" class = "form-control">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-lock"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>

    <div class = "form-group row">
      <label for = "input.product.cost" class = "col-30 col-form-label">Стоимость</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.product.cost" [formControl] = "form.cost" class = "form-control">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-lock"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>

    <div class = "form-group row">
      <label for = "input.product.description" class = "col-30 col-form-label">Описание</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.product.description" [formControl] = "form.description" class = "form-control">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-lock"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>


    <app-operation-error [operationError]="operationError"></app-operation-error>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onClickedCancelPayment(false)">Отмена</button>
    <button type="button" class="btn btn-primary" (click)="onClickedConfirmPayment()">Оплатить</button>
  </div>
</div>
