.Tariff {
  text-align: center;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 0.625rem;
  height: 120px;
  padding: 30px;
  cursor: pointer;
  margin-bottom: 30px;
}

.Tariff:hover {
  background-color: #fff7b2;
}

.Tariff .Select {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.Tariff:hover .Select{
  color: black;
  text-shadow: #221616 1px 1px 2px;
}


.Tariff .Header {
  font-size: 25px;
  font-weight: 600;
}
