<div class = "kt-portlet kt-portlet--height-fluid" *ngIf = "model">
  <div class = "kt-portlet__head">
    <div class = "kt-portlet__head-label">
      <h3 class = "kt-portlet__head-title">
        <i class = "fa fa-money-bill-alt"></i>
        {{model.Number | bankCardNumber}} ( {{model.name}} )
      </h3>
    </div>
    <div class = "kt-portlet__head-toolbar">
      <div class = "dropdown dropdown-inline" ngbDropdown>
        <button type = "button" class = "btn btn-clean btn-sm btn-icon-md btn-icon" ngbDropdownToggle id = "bank.card.menu">
          <i class = "flaticon-more-1"></i>
        </button>
        <div class = "dropdown-menu" ngbDropdownMenu aria-labelledby =  "bank.card.menu">
          <a href = "#" class = "kt-nav__link" ngbDropdownItem>
            <i class = "kt-nav__link-icon flaticon2-drop"></i>
            <span class = "kt-nav__link-text">Сменить тариф</span>
          </a>

          <a href = "#" class = "kt-nav__link" ngbDropdownItem>
            <i class = "kt-nav__link-icon flaticon2-drop"></i>
            <span class = "kt-nav__link-text">Закрыть карту</span>
          </a>

        </div>
      </div>
    </div>
  </div>

  <div class = "kt-portlet__body">
    <div class = "kt-widget4">

      <div class = "kt-widget4__item">
        <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
          Название карты
        </a>
        <span class = "kt-widget4__number">{{model.name}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
          Номер карты
        </a>
        <span class = "kt-widget4__number">{{model.Number | bankCardNumber}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
          Тарифный план
        </a>
        <span class = "kt-widget4__number">{{model.Tariff}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
          Дата открытия
        </a>
        <span class = "kt-widget4__number">{{model.CreatedAt| dateFormat}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
          Статус
        </a>
        <span class = "kt-widget4__number kt-font-info">{{model.Status | bankCardStatus}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
          Срок действия
        </a>
        <span class = "kt-widget4__number">{{model.Validity | dateFormat}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
          Баланс
        </a>

        <span class = "kt-widget4__number kt-font-success">{{model.Balance}}$
          <span class = "kt-font-info" *ngIf="model.LastPaymentAmount > 0">(+ {{model.LastPaymentAmount}})</span>
          <span class = "kt-font-info" *ngIf="model.LastPaymentAmount < 0">( {{model.LastPaymentAmount}})</span>
        </span>
      </div>


    </div>
  </div>
</div>
