<div class = "Element col-97 row">
  <div class = "col-10">
    <i class = "mdi mdi-package Icon"></i>
  </div>
  <div class = "col-73 offset-6 Amount">
    <span>{{amount}}</span>
  </div>
  <div class = "col-4 offset-2 Amount">
    <span>$</span>
  </div>
</div>
