<form>
  <h2 class="kt-font-info" style="text-align: center; margin-bottom: 25px;">
    Форма регистрации
  </h2>

  <div class = "col-md-100 form-group">
    <label for = "input.Login">Логин</label>
    <input id = "input.Login" [formControl] = "form.Login"  placeholder = "Ваш логин" class="form-control">
  </div>

  <div class = "col-md-100 form-group">
    <label for = "input.Email">Email</label>
    <input id = "input.Email" [formControl] = "form.Email" type="email"  placeholder = "Ваш email адрес" class="form-control">
  </div>

  <div class = "col-md-100 form-group">
    <label for = "input.Password">Пароль</label>
    <input id = "input.Password" [formControl] = "form.Password" type="password"  placeholder = "Ваш пароль" class="form-control">
  </div>

  <div class = "col-md-100 form-group">
    <label for = "input.Referer">Откуда вы о нас узнали?</label>
    <input id = "input.Referer" [formControl] = "form.Referer"  placeholder = "Промо-код или имя игрока который вас пригласил?" class="form-control">
  </div>

  <button id="registerBtn" type="button" class="btn submit" (click)="onSubmitForm()">Создать аккаунт</button>
</form>
