<div class = "col-84">
  <div class = "Element">
    <ngb-progressbar type = "{{styleName}}" [value] = "value" class="full-height"></ngb-progressbar>
  </div>
</div>
<div class = "col-12">
  <div class = "Element">
    <i class = "{{icon}}" style="font-size: 25px"></i>
  </div>
</div>
