<div class = "row">
  <div class = "col-10 col-md-15">
    <div class = "kkt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid">
      <div class = "kt-aside-menu kt-scroll ps ps--active-y" style="height: 900px;">

        <ul class = "kt-menu__nav " *ngIf="currentBankCard.model">
          <li class = "kt-menu__section ">
            <h4 class = "kt-menu__section-text">
              {{currentBankCard.model.Number | bankCardNumber}}
            </h4>
            <i class = "kt-menu__section-icon flaticon-more-v2"></i>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link " routerLink="/World/Property/Bank/Card/Client/Information">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Информация о карте
            </span>
            </a>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link " routerLink="/World/Property/Bank/Card/Client/Deposit">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Пополнение счета
            </span>
            </a>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link " routerLink="/World/Property/Bank/Card/Client/Withdraw">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Снятие наличных
            </span>
            </a>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link " routerLink="/World/Property/Bank/Card/Client/Transfer">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Банковские переводы
            </span>
            </a>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link " routerLink="/World/Property/Bank/Card/Client/Services">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Услуги
            </span>
            </a>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link " routerLink="/World/Property/Bank/Card/Client/Transactions">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Последние операции
            </span>
            </a>
          </li>
        </ul>

        <ul class = "kt-menu__nav ">
          <li class = "kt-menu__section ">
            <h4 class = "kt-menu__section-text">
              Банк
            </h4>
            <i class = "kt-menu__section-icon flaticon-more-v2"></i>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link " routerLink="/World/Property/Bank/Card/Client/Authorization">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Управление картами
            </span>
            </a>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link ">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Управление счетами
            </span>
            </a>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link ">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Вакансии
            </span>
            </a>
          </li>
        </ul>

      </div>
    </div>

  </div>
  <div class = "col-20 col-sm-20 col-md-25">
    <div class = "kt-portlet kt-portlet--height-fluid" style="height: 900px; background-color: #f2f3f8; max-height: 900px; overflow: auto;">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

