<form>
  <h2 class="kt-font-info" style="text-align: center; margin-bottom: 25px;">
    Забыли пароль?
  </h2>

  <div class = "kt-section__content">Введите адрес электронной почты ниже, и мы вышлем вам письмо с инструкциями.</div>
  <div class = "col-md-80 form-group">
    <label for = "input.Email">Email</label>
    <input id = "input.Email" type = "email" placeholder = "Ваш email адрес" class = "form-control">
  </div>
  <button type = "submit" class = "btn submit last-btn">Сбросить пароль</button>
</form>
