<div class = "row">
  <div class="col-30 col-sm-40">
    <div class = "kkt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid">
      <div class = "kt-aside-menu kt-scroll ps ps--active-y" style="height: 560px;">

        <ul class = "kt-menu__nav ">
          <li class = "kt-menu__section ">
            <h4 class = "kt-menu__section-text">
              Sun city Role Play
            </h4>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link " (click) = "t.select('tab-authorization-login')">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Авторизация
            </span>
            </a>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link " (click) = "t.select('tab-authorization-register')">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Регистрация
            </span>
            </a>
          </li>

          <li class = "kt-menu__item ">
            <a class = "kt-menu__link " (click) = "t.select('tab-authorization-forgot-password')">
              <i class = "kt-menu__link-bullet kt-menu__link-bullet--dot">
                <span></span>
              </i>
              <span class = "kt-menu__link-text">
              Забыли пароль?
            </span>
            </a>
          </li>
        </ul>

      </div>
    </div>

  </div>
  <div class = "col-70 col-sm-60">
    <div class = "kt-portlet kt-portlet--height-fluid" style="height: 560px; background-color: #f2f3f8; padding: 30px;">
      <ngb-tabset [destroyOnHide] = "false" #t = "ngbTabset">
        <ngb-tab id = "tab-authorization-login">
          <ng-template ngbTabContent>
            <app-authorization-login></app-authorization-login>
          </ng-template>
        </ngb-tab>

        <ngb-tab id = "tab-authorization-register">
          <ng-template ngbTabContent>
            <app-authorization-register></app-authorization-register>
          </ng-template>
        </ngb-tab>

        <ngb-tab id = "tab-authorization-forgot-password">
          <ng-template ngbTabContent>
            <app-authorization-forgot-password></app-authorization-forgot-password>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

</div>

