<div class="btn-group btn-group-toggle row" ngbRadioGroup name="radioBasic">
  <label ngbButtonLabel class="btn-primary col-50" *ngFor="let item of items">
    <input ngbButton type="radio" value="{{getDisplayId(item)}}" (click)="onSelectItem(getDisplayId(item))"> {{getDisplayText(item)}}
  </label>
</div>
