<div class = "kt-portlet kt-portlet--height-fluid" *ngIf = "vehicle">
  <div class = "kt-portlet__head">
    <div class = "kt-portlet__head-label">
      <h3 class = "kt-portlet__head-title">
        {{vehicle.information.model.description}}
      </h3>
    </div>

    <div class = "kt-portlet__head-toolbar">
      <ul class = "nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold">
        <li class = "nav-item btn btn-bold btn-sm btn-font-sm  btn-label-success">
          {{vehicle.cost | gameCost}}
        </li>
      </ul>
    </div>

  </div>
  <div class = "kt-portlet__body">
    <div class = "tab-content">
      <div class = "tab-pane active" id = "kt_widget31_tab1_content">
        <div class = "kt-widget4">

          <div class = "kt-widget4__item">
            <app-kt-progress-bar [current] = "vehicle.information.maxSpeed" [maximum] = "400" color = "bg-warning" label = "Максимальная скорость" unit = "КМ/Ч"></app-kt-progress-bar>
          </div>

          <div class = "kt-widget4__item">
            <app-kt-progress-bar [current] = "vehicle.information.acceleration" [maximum] = "20" color = "bg-warning" label = "Разгон 0-100" unit = "сек"></app-kt-progress-bar>
          </div>

          <div class = "kt-widget4__item">
            <app-kt-progress-bar [current] = "vehicle.information.handleability" [maximum] = "100" color = "bg-warning" label = "Управляемость"></app-kt-progress-bar>
          </div>

          <div class = "kt-widget4__item">
            <app-kt-progress-bar [current] = "vehicle.information.fuelTankSize" [maximum] = "500" color = "bg-warning" label = "Объем бака" unit = "литров"></app-kt-progress-bar>
          </div>

          <div class = "kt-widget4__item">
            <app-kt-progress-bar [current] = "vehicle.information.fuelConsumptionPerMinute" [maximum] = "50" color = "bg-warning" label = "Расход топлива" unit = "литров / мин"></app-kt-progress-bar>
          </div>

          <div class = "kt-widget4__item">
            <app-purchase-dropdown-button [allowCashPay] = "true" [allowBankCardPay] = "true" (purchaseMethodSelected) = "onPurchaseMethodSelected($event)"></app-purchase-dropdown-button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<app-vehicle-showroom-color title = "Выберите основной цвет машины" (colorSelected)="onFirstColorSelected($event)" *ngIf = "vehicle"></app-vehicle-showroom-color>
<app-vehicle-showroom-color title = "Выберите дополнительный цвет машины" (colorSelected)="onSecondColorSelected($event)" *ngIf = "vehicle"></app-vehicle-showroom-color>
