<app-window-header icon="la la-bank" header="Авторизация"></app-window-header>


<div class = "kt-portlet__body" style = "background-color: #f2f3f8;">
  <div class = "kt-section__body">

    <div class = "form-group row">
      <label for = "input.card.tariff" class = "col-30 col-form-label">Банковская карта</label>
      <div class = "col-70">
        <div class = "input-group">
          <div class = "input-group-prepend"><span class = "input-group-text" style = "background-color: white; border-right: none"><i class = "flaticon2-open-text-book"></i></span></div>
          <input type = "text" class = "form-control" readonly [formControl] = "form.bankCardName">

          <div class = "input-group-prepend dropdown" ngbDropdown placement="bottom">
            <button type = "button" class = "btn btn-secondary dropdown-toggle" id = "input.card.tariff" ngbDropdownToggle>
            </button>
            <div class = "dropdown-menu" ngbDropdownMenu aria-labelledby = "input.card.tariff" style="width: 300px; left: -192px;">
              <a class = "dropdown-item" ngbDropdownItem *ngFor = "let bankCard of bankCards$ | async" (click) = "onBankCardSelected(bankCard)">
                {{bankCard.number | bankCardNumber}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class = "form-group row">
      <label for = "input.card.pinCode" class = "col-30 col-form-label">Пин-код</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.pinCode" [formControl] = "form.pinCode" class = "form-control">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-lock"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>

    <app-operation-error [operationError]="operationError$ | async"></app-operation-error>


  </div>

  <div class = "kt-portlet__foot">
    <div class = "kt-form__actions row">
      <button type = "reset" class = "btn btn-dark col-40 offset-5" (click)="onClickedRequestOpenBankCard()">Открыть карту</button>
      <button type = "reset" class = "btn btn-success col-40 offset-10" (click)="onClickedAuthorization()">Продолжить</button>
    </div>
  </div>

</div>
