<app-window-header icon="la la-bank" header="Пополнение счета"></app-window-header>

<div class = "kt-portlet__body" style = "background-color: #f2f3f8;">
  <div class = "kt-section__body">

    <div class = "form-group row">
      <label for = "input.card.Number" class = "col-30 col-form-label">Карта</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.Number" class = "form-control" [formControl]="FormGroup.bankCardNumber">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon2-open-text-book"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>

    <div class = "form-group row">
      <label for = "input.card.Amount" class = "col-30 col-form-label">Сумма</label>
      <div class = "col-70">
        <div class = "kt-input-icon kt-input-icon--left">
          <input id = "input.card.Amount"  class = "form-control" [formControl]="FormGroup.depositAmount">
          <span class = "kt-input-icon__icon kt-input-icon__icon--left">
                  <span>
                    <i class = "flaticon-coins"></i>
                  </span>
              </span>
        </div>
      </div>
    </div>

    <app-operation-error [operationError]="operationError"></app-operation-error>
  </div>

  <div class = "kt-portlet__foot">
    <div class = "kt-form__actions row">
      <button type = "reset" class = "btn btn-primary col-40 offset-40" (click)="onClickedDeposit()">Пополнить счет</button>
    </div>
  </div>

</div>
