<div class = "Grid">
  <h2 class = "Header">
    Экипировка
  </h2>

  <div class = "row">
    <app-inventory-item defaultIcon="Passport" class="col-23 offset-2 order-2"></app-inventory-item>
    <app-inventory-item defaultIcon="Phone" class="col-23 offset-1 order-2"></app-inventory-item>
    <app-inventory-item defaultIcon="CreditCard" class="col-23 offset-2 order-2"></app-inventory-item>
    <app-inventory-item disabled="true" class="col-23 offset-2 order-2"></app-inventory-item>

  </div>
  <div class = "clearfix"></div>
</div>
