<div class = "row">
  <div class = "col-60">
    <h2>
      <img src = "/assets/images/CharacterCreation/Character.png" style = "width: 32px; height: 32px;" />
      Персонаж
    </h2>
    <span>Создайте уникального персонажа</span>
  </div>
  <button type = "button" class = "btn submit Randomize col-35" style = "margin-top: 0; margin-left: 0;">Перемешать</button>

  <div class="ParamsTab">
    <div class="Params row" style="margin-top: 45px;">
      <div class="Key col-30">Отец</div>
      <div class="Value col-70">
        <div class="btn-group btn-group-toggle">
          <app-drop-down-slider [items] = "parents.fathers" [isObject] = "false" [control] = "FormGroup.fatherId"></app-drop-down-slider>
        </div>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">Мать</div>
      <div class="Value col-70">
        <div class="btn-group btn-group-toggle">
          <app-drop-down-slider [items] = "parents.mothers" [isObject] = "false" [control] = "FormGroup.motherId"></app-drop-down-slider>
        </div>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">Пол</div>
      <div class="Value col-70">
        <div class="btn-group btn-group-toggle">
          <app-radio-button-group [isObject] = "false" [items] = "parents.genders" [control] = "FormGroup.sex"></app-radio-button-group>
        </div>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">Схожесть</div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.similarity" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">Тон кожи</div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.skin" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Старость
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.ageing" [min]="0" [max]="14" [step]="1"></app-single-range-slider>
      </div>
    </div>


    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Загорелость
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.sundamage" [min]="0" [max]="10" [step]="1"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Веснушки
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.freckles" [min]="0" [max]="17" [step]="1"></app-single-range-slider>
      </div>
    </div>

  </div>

</div>

