<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        Новости / обновления проекта
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <!--begin::Timeline 1-->
    <div class="kt-list-timeline">
      <div class="kt-list-timeline__items">
        <div class="kt-list-timeline__item">
          <span class="kt-list-timeline__badge kt-list-timeline__badge--success"></span>
          <span class="kt-list-timeline__text">Обновлен интерфейс формы авторизации</span>
          <span class="kt-list-timeline__time">24.02.2020</span>
        </div>
        <div class="kt-list-timeline__item">
          <span class="kt-list-timeline__badge kt-list-timeline__badge--success"></span>
          <span class="kt-list-timeline__text">Обновлен интерфейс банка</span>
          <span class="kt-list-timeline__time">24.02.2020</span>
        </div>
        <div class="kt-list-timeline__item">
          <span class="kt-list-timeline__badge kt-list-timeline__badge--danger"></span>
          <span class="kt-list-timeline__text">Исправлена покупка недвижимости</span>
          <span class="kt-list-timeline__time">12.02.2020</span>
        </div>
      </div>
    </div>
    <!--end::Timeline 1-->

  </div>
</div>
