<app-window-header icon="la la-bank" header="Операция выполнена"></app-window-header>


<div class = "kt-portlet__body" style = "background-color: #f2f3f8; padding: 0;">
  <div class = "kt-invoice__head" style = "background-image: url(https://keenthemes.com/metronic/themes/metronic/theme/default/demo1/dist/assets/media/bg/bg-6.jpg);color: white;">
    <h1 class = "kt-invoice__title">Операция успешно выполнена</h1>
  </div>

  <div class = "kt-section__body">
    <div class = "kt-portlet kt-portlet--height-fluid">
      <div class = "kt-portlet__body">
        <div class = "kt-widget4">

          <div class = "kt-widget4__item">
            <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
              Идентификатор операции
            </a>
            <span>e9bc2350-02d6-4480-8abc-7d82161f1efa</span>
          </div>

          <div class = "kt-widget4__item">
            <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
              Дата операции
            </a>
            <span class = "kt-widget4__number">464363</span>
          </div>

          <div class = "kt-widget4__item">
            <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
              Время операции
            </a>
            <span class = "kt-widget4__number">643636</span>
          </div>

          <div class = "kt-widget4__item">
            <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
              Тип операции
            </a>
            <span class = "kt-widget4__number">Перевод</span>
          </div>

          <div class = "kt-widget4__item">
            <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
              Сумма
            </a>
            <span class = "kt-widget4__number">643634</span>
          </div>

          <div class = "kt-widget4__item">
            <a href = "#" class = "kt-widget4__title kt-widget4__title--light">
              Комиссия
            </a>
            <span class = "kt-widget4__number kt-font-info">64363</span>
          </div>

        </div>
      </div>
    </div>

    <app-operation-error [operationError] = "operationError"></app-operation-error>
  </div>
</div>
