<div class = "kt-portlet" *ngIf = "model">
  <div class = "kt-portlet__head">
    <div class = "kt-portlet__head-label">
      <h3 class = "kt-portlet__head-title">
        Информация о недвижимости
      </h3>
    </div>
  </div>

  <div class = "kt-portlet__body">
    <div class = "kt-widget4">

      <div class = "kt-widget4__item" *ngIf="model.name">
        <a class = "kt-widget4__title kt-widget4__title--light">
          Название
        </a>
        <span class = "kt-widget4__number">{{model.name}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a class = "kt-widget4__title kt-widget4__title--light">
          Категория
        </a>
        <span class = "kt-widget4__number">{{model.category.description}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a class = "kt-widget4__title kt-widget4__title--light">
          Класс
        </a>
        <span class = "kt-widget4__number">{{model.class.description}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a class = "kt-widget4__title kt-widget4__title--light">
          Гос. цена
        </a>
        <span class = "kt-widget4__number">{{model.stateCost | gameCost}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a class = "kt-widget4__title kt-widget4__title--light">
          Продается за
        </a>
        <span class = "kt-widget4__number">{{model.stateCost | gameCost}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a class = "kt-widget4__title kt-widget4__title--light">
          Адрес
        </a>
        <span class = "kt-widget4__number">{{model.Address}}</span>
      </div>

      <div class = "kt-widget4__item" *ngIf="model.owner">
        <a class = "kt-widget4__title kt-widget4__title--light">
          Владелец
        </a>
        <span class = "kt-widget4__number">{{model.owner}}</span>
      </div>

      <div class = "kt-widget4__item">
        <a class = "kt-widget4__title kt-widget4__title--light">
          Площадь
        </a>
        <span class = "kt-widget4__number">{{model.square}}</span>
      </div>

    </div>
  </div>
</div>
