.SuperHeader
{
  font-size: 2vw;
  color: #fff49b;
  text-shadow: 7px 2px 2px #4c596a;
  padding: 2.5vw 1vw 1vw;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

.Block
{
  background-color: #202940;
  padding: 30px;
  padding-left: 50px;
  box-shadow: 20px 3px 33px 2px rgba(0, 0, 0, 0.5);
}

body
{
  background-color: transparent;
}

.Сenter
{
  width: 55px; /* Ширина элемента в пикселах */
  padding: 10px; /* Поля вокруг текста */
  margin: auto; /* Выравниваем по центру */
  text-align: center;
}

.СenterAlways
{
  width: 500px;
  padding: 10px;
  margin: auto;
  vertical-align: middle;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  position: absolute;
  max-height: 100%;
  text-align: center;
  height: 90px;
}

.Operation
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000c4;
  z-index: 99999999;
}

.Operation .Warning
{
  font-size: 48px;
  color: #ff9e00;
}

.Operation .Successfully
{
  font-size: 48px;
  color: #48af00;
}


.Operation .InProcess
{

}

.Block {
  position: relative;
}

.Block .Title
{
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

.Block .Content
{
  height: 590px;
  background-color: white;
  padding: 35px;
}

.Block .Content .SubTitle
{
  color: black;
  text-align: center;
  margin-bottom: 35px;
}

.Block .Content .description
{
  font-size: 18px;
}

.Block .Content.UserInfo
{
  text-align: center;
  background-color: #2f3640;
  color: white;
  font-size: 30px;
  padding: 22px;
  height: auto;
}

.Block .Content.UserInfo .DonationPoints
{
  color: #fbc531;
  font-size: 22px;
}

ul.InlineList li
{
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;

}

ul {
  padding: 0px;
  list-style-type: none;
}

ul li {
  color: white;
  padding-top: 15px;
}

ul.SquareList
{
  list-style-type: square;
  padding-left: 25px;
}

.Block .Header .Close
{
  float: right;
  padding-right: 30px;
  cursor: pointer;
  padding-top: 6px;
}

.Block .Header .Close:hover
{
  color: #ffc800;
}


.submit {
  margin: 2.3em auto 0;
  background: #202940;
  border: none;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  display: block;
  color: #fff;
  padding: 14px 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  letter-spacing: 2px;
  width: 100%;

  width: 40%;
  float: left;
  margin-left: 30px;
}


.no-left-padding{
  padding-left: 0;
}

.no-right-padding{
  padding-right: 0;
}

.full-height .progress
{
  height: 100%;
}
