<div class = "Grid">
  <h2 class = "Header">
    Быстрый доступ
  </h2>

  <div class = "row">
    <app-inventory-item class="col-11 offset-2 order-1" num="1" defaultIcon="Pants"></app-inventory-item>
    <app-inventory-item class="col-11 offset-1 order-2" num="2"></app-inventory-item>
    <app-inventory-item class="col-11 offset-1 order-3" num="3"></app-inventory-item>
    <app-inventory-item class="col-11 offset-1 order-4" num="4"></app-inventory-item>
    <app-inventory-item class="col-11 offset-1 order-5" num="5"></app-inventory-item>
    <app-inventory-item class="col-11 offset-1 order-6" num="6"></app-inventory-item>
    <app-inventory-item class="col-11 offset-1 order-7" num="7"></app-inventory-item>
    <app-inventory-item class="col-11 offset-1 order-8" num="8"></app-inventory-item>

  </div>
  <div class = "clearfix"></div>
</div>
