<div class = "kt-portlet__head">
  <div class = "kt-portlet__head-label">
    <h3 class = "kt-portlet__head-title" *ngIf = "selectedCategory">
      Каталог транспортных средств
    </h3>
  </div>

  <app-window-close-button class = "kt-portlet__head-toolbar" (windowClosed)="onVehicleShowroomWindowClosed()"></app-window-close-button>
</div>
