<div class = "kt-widget4">

  <div class = "kt-widget4__item">
    <div class = "kt-widget4__info">

      <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold">
        <li class="nav-item">
          <a class="nav-link">
            Сортировка по:
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive(VehicleShowroomListOrderBy.Cost)" (click)="onChangeOrderBy(VehicleShowroomListOrderBy.Cost)">
            Стоимости
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive(VehicleShowroomListOrderBy.Name)" (click)="onChangeOrderBy(VehicleShowroomListOrderBy.Name)">
            Названию
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive(VehicleShowroomListOrderBy.Capacity)" (click)="onChangeOrderBy(VehicleShowroomListOrderBy.Capacity)">
            Вместимости
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive(VehicleShowroomListOrderBy.Speed)" (click)="onChangeOrderBy(VehicleShowroomListOrderBy.Speed)">
            Скорости
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [class.active]="isActive(VehicleShowroomListOrderBy.Handleability)" (click)="onChangeOrderBy(VehicleShowroomListOrderBy.Handleability)">
            Управляемости
          </a>
        </li>

        <li class="nav-item" *ngIf="null">
          <a class="nav-link" [class.active]="isActive(VehicleShowroomListOrderBy.Popular)" (click)="onChangeOrderBy(VehicleShowroomListOrderBy.Popular)">
            Популярности
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
