<div class = "row" style="margin-top: 15vh;">
  <div class = "container">
    <div class = "col-100">
      <div class = "Block Inventory" style = "padding: 0; box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);    background-color: rgba(0, 0, 0, 0.79);">
        <div class = "Header">
          <ul class = "InlineList" style = "text-align: center;">
            <li>
              Аккаунт
            </li>
            <li>
              Статистика
            </li>
            <li style = "color: #eaac00;">
              Инвентарь
            </li>
            <li>
              Магазин
            </li>
          </ul>
        </div>

        <div class = "Content" style = "background-color: transparent;">
          <app-player-inventory-tab></app-player-inventory-tab>
        </div>

      </div>
    </div>

  </div>
</div>
