<app-window-header icon="la la-bank" header="Список операций"></app-window-header>


<div class = "kt-portlet__body" style = "background-color: #f2f3f8;">
  <div class = "kt-section__body">
    <div class = "row">
      <app-operation-error [operationError]="operationError"></app-operation-error>

      <div class = "col-100" *ngIf="model">
        <app-bank-card-transactions [model]="model"></app-bank-card-transactions>
      </div>

    </div>

  </div>

</div>

