<div class = "row">
  <div class = "col-60">
    <h2>
      <img src = "/assets/images/CharacterCreation/Character.png" style = "width: 32px; height: 32px;" />
      Черты лица
    </h2>
    <span>Создайте уникального персонажа</span>
  </div>
  <button type = "button" class = "btn submit Randomize col-33" style = "margin-top: 0">Перемешать</button>

  <div class="ParamsTab">

    <h3 style="margin-top: 35px;">
      Нос
    </h3>

    <div class="Params row">
      <div class="Key col-30">
        Ширина носа
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.noseWidth" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Высота носа
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.noseHeight" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Длина кончика носа
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.noseLength"  [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Глубина моста носа
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.noseBridge" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Высота кончика носа
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.noseTip" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Поломаность носа
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.noseShift" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <h3 style="margin-top: 35px;">
      Глаза и брови
    </h3>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Размер глаз
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.eyes" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Высота бровей
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.browHeight" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Глубина бровей
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.browWidth" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <h3 style="margin-top: 35px;">
      Черты лица
    </h3>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Высота скул
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.cheekboneHeight" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Ширина скул
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.cheekboneWidth" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Глубина щеки
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.cheeksWidth" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>


    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Толщина губ
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.lips" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>


    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Ширина челюсти</div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.jawWidth" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Форма челюсти</div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.jawHeight" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>


    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Высота подбородка
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.chinLength" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Глубина подбородка
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.chinPosition" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Ширина подбородка
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.chinWidth" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">_______</div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.chinShape" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>


    <div class="Params row" style="margin-top: 25px;">
      <div class="Key col-30">
        Обхват шеи
      </div>
      <div class="Value col-70">
        <app-single-range-slider [contol]="FormGroup.neckWidth" [min]="0.0" [max]="1.0" [step]="0.05"></app-single-range-slider>
      </div>
    </div>

  </div>

</div>

